<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register / register</title>
</head>
<body>
    <center>
        <hr><h1>Register</h1><hr>
        <form action="/register" method="post">
            <label for="email">email</label>
            <input name="email" type="text">
            <br><br>
            <label for="username">username</label>
            <input name="username" type="text">
            <br><br>
            <label for="password">password</label>
            <input name="password" type="password">
            <br><br>
            <button type="submit">Enter</button>
        </form>
    </center>
</body>
</html>